html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: black;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(bg-main.gif);
    color: #fff;
    font-size: 1.5em;
}

.link {
    color: #fff;
}
